@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #f0f0f0;
  --background-secondary: #e0e0e0;
  --background-tertiary: #d0d0d0;
  --background-inverse: #c0c0c0;
  --foreground-primary: #000000;
  --foreground-secondary: #111111;
  --foreground-tertiary: #222222;
  --foreground-inverse: #333333;
}
